<h1>Dashboard</h1>

<p *ngIf="!(myWebSocket$ | async)"><em>Loading...</em></p>

<div class="chart-wrapper" *ngIf="(stocks)?.length>0">
  <canvas baseChart
  [datasets]="chartData"
  [labels]="chartLabels"
  [options]="chartOptions"
  [plugins]="chartPlugins"
  [legend]="chartLegend"
  [colors]="lineChartColors"
  [chartType]="chartType">
</canvas>
</div>

<div *ngIf="authentication" style="width: 400px;text-align: center;margin-top: 15px; font-weight: bold;">
<p>Total funds:   {{ userData.Account.Funds | currency:'BRL' }}</p>
</div>

<table class="table table-sm table-hover" *ngIf="(stocks)?.length>0">
  <thead>
    <tr>
      <th>#</th>
      <th>Stock</th>
      <th>Value</th>
      <th *ngIf="authentication">Owned</th>
      <th *ngIf="authentication">Buy</th>
      <th *ngIf="authentication">Sell</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let stock of stocks">
      <td></td>
      <td>{{ stock.StockCode }}</td>
      <td>{{ stock.Value }}</td>
      <td *ngIf="authentication">{{ stock.Ammount | number }}</td>
      <td *ngIf="authentication"><input type="number" min="0" [(ngModel)]="stock.AmmountToBuy" />
        <button class="btn btn-info" style="margin-left:5px" (click)="buy(stock.StockCode, stock.AmmountToBuy)">Buy</button></td>
      <td *ngIf="authentication"><input type="number" min="0" [(ngModel)]="stock.AmmountToSell" />
        <button class="btn btn-danger"  style="margin-left:5px" (click)="sell(stock.StockCode, stock.AmmountToSell)">Sell</button></td>
    </tr>
  </tbody>
</table>
